@import "vars"

.btn
  display: flex
  align-items: center
  justify-content: center
  padding: 0.1875rem 0

.btn:focus
  outline: none
  box-shadow: none

.btn-border
  font: 400 0.9375rem/1.25rem 'Open Sans', sans-serif
  background-color: $white
  border-radius: 1.25rem
  border: 0.0625rem solid $color7
  color: $color2
  &:hover,&:active


