@import "vars"

html
  height: 100%
  color: $color2

body, html
  height: 100%
  overflow-x: hidden
  font-size: 16px
  background-color: #ffffff
  font-family: 'PT Sans', sans-serif

body, a
  color: #272727

a, a:hover, a:active, a:focus
  color: inherit
  text-decoration-line: inherit

.form-control:focus
  border-color: inherit
  box-shadow: none

textarea
  resize: none

.form-control:disabled, .form-control[readonly]
  //background-color: $white

.dropdown-list
  position: relative
  .input-icon
    display: flex
    align-items: center
    justify-content: center
    position: absolute
    height: 100%
    width: 1.875rem
    top: 0
    right: 0

.custom-form-group
  position: relative

