footer
  position: relative
  //z-index: 999
  background-color: #969696
  padding-bottom: 1.625rem
  margin: 6.25rem 0 0 0
  .row
    padding: 0 0.938rem
  .col
    padding: 0

.footer-block
  margin: 0 0 1.625rem 0

.footer-border
  border-bottom: 0.0625rem solid #FFFFFF
  padding: 0 0 2rem 0
  margin: 0 0 1.375rem 0

.footer-block-title-area
  border-bottom: 0.0625rem solid #FFFFFF
  margin: 0 0 0.5rem 0

.footer-block-title
  color: $white
  font: 400 1.125rem/1.313rem 'SFProDisplay-Regular', sans-serif
  padding: 2.375rem 0 1.688rem 0

.сopyright
  margin: 0 0 1.688rem 0
  p
    color: $white
    opacity: 0.7
    font: 400 0.75rem/0.875rem 'SFProDisplay-Regular', sans-serif

.footer-link
  position: relative
  width: 100%
  p, a
    height: 2.5625rem
    padding: 0.375rem 0 0.375rem 0.75rem
    margin: 0 6.25rem 0 0
    width: 100%
    color: $white
    font: 300 0.938rem/1.125rem 'SFProDisplay-Light', sans-serif
    border-bottom: 0.03125rem solid rgba(89, 89, 89, 0.5)
    img
      margin: 0 0.563rem 0 0
  &:before
    content: ''
    position: absolute
    left: 0
    top: calc(50% - 0.28125rem)
    background-image: url("../img/arrow-white.png")
    width: 0.3125rem
    height: 0.5625rem
  &:hover
    color: #fff
    text-decoration-line: none

.footer-block-contact
  .footer-link
    margin: 0

.footer-list-address
  .footer-link:before
    background-image: none
    display: none
  p, a
    padding-left: 0
    margin: 0

.social-networks
  padding: 0 0.625rem
  a:not(:last-child)
    margin: 0 2.375rem 0 0

.footer-down-links
  padding: 1.25rem 0 0 0
  a
    margin: 0 1.875rem 0 0
    color: $white
    font: 0.938rem/1.125rem 'SFProDisplay-Regular', sans-serif
  p
    opacity: 0.7
    color: $white
    font: 0.75rem/1.125rem 'SFProDisplay-Regular', sans-serif

@media (max-width: 992px)
  .footer-link
    a, p
      margin: 0
