@import "../../../sass/vars"
//.header-area
//  border: 1px solid

.header-address-fluid-area
  background-color: $white
  padding-top: 0.6875rem
  padding-bottom: 0.6875rem

.header-nav-fluid-area
  //padding-top: 0.8125rem
  //padding-bottom: 0.8125rem
  background-color: $color1

.header-address-area
  p, a
    white-space: nowrap

.address-area
  margin-right: 1.625rem

.address
  color: $color2
  font: 400 1rem/1.075rem 'Open Sans', sans-serif

.address + .address, .work-info + .work-info
  margin: 0 0 0 0.625rem
  padding: 0 0 0 0.625rem
  border-left: 0.0625rem solid $color5

.work-phone
  color: $color6
  text-transform: uppercase
  font: 400 1.125rem/1.075rem 'Open Sans', sans-serif
  b
    color: $color2

.work-time
  color: $color6
  font: 400 0.9375rem/1.075rem 'Open Sans', sans-serif

.header-address-area
  .btn-border
    margin: 0 0 0 1.625rem
    padding-left: 1.4375rem
    padding-right: 1.4375rem

.address-area, .work-info-area, .buttons-area
  margin-top: 0.625rem
  margin-bottom: 0.625rem

.header-nav-area
  //li:not(:last-child)
  //  margin-right: 3.125rem
  .fa-bars
    color: $white
  .nav-link
    font: bold 0.9375rem/1.25rem 'Open Sans', sans-serif
    text-transform: uppercase
    padding: 1.25rem 0
    color: $white
    display: flex
    align-items: center
    white-space: nowrap
  .nav-promo
    padding: 0.3125rem 1.25rem
    color: $color2
    background-color: $white
    border-radius: 1.25rem
    position: relative
    &:before
      position: absolute
      content: ''
      width: 5px
      height: 5px
      border-radius: 50%
      background-color: $color4
      top: 0.375rem
      right: 0.625rem
.header-bottom-area
  padding: 2.0625rem 0 2.0625rem 0
  .form-group
    margin: 0 3.125rem 0 1.875rem
    flex: 1 1 auto
.cart-img
  width: 2.625rem
  height: 2.625rem
  margin: 0 1.25rem 0 0
