<header class="header-area">
  <div class="container-fluid pl-0 pr-0 header-address-fluid-area">
    <div class="container p-lg-0">
      <div class="row">
        <div class="col-12">
          <div
              class="header-address-area d-flex flex-wrap justify-content-xl-between justify-content-lg-center justify-content-md-center">
            <div class="address-area d-flex align-items-center fle">
              <p class="address">
                <b>Орел</b> ул.Михалицына, 10
              </p>
              <p class="address">
                Орел ул.Ломоносова, 6Б ТЦ "УТЁС"
              </p>
            </div>
            <div class="d-flex">
              <div class="work-info-area d-flex align-items-center ml-auto">
                <a href="tel:84862488660" class="work-phone work-info">
                  8 (4862) <b>48-86-60</b>
                </a>
                <p class="work-time work-info">
                  пн-пт с 9.00 до 18.00
                </p>
              </div>
              <div class="buttons-area">
                <a href="" class="btn btn-border">
                  Заказать звонок
                </a>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid pl-0 pr-0 header-nav-fluid-area">
    <div class="container p-lg-0">
      <div class="row">
        <div class="col-12">
          <ul class="nav header-nav-area flex-nowrap justify-content-between">
            <li class="d-flex align-items-center">
              <i class="fa fa-bars " aria-hidden="true"></i>
              &nbsp;
              <a href="" class="nav-link">каталог</a>
            </li>
            <li class="d-flex align-items-center">
              <a href="" class="nav-link">о компании</a>
            </li>
            <li class="d-flex align-items-center">
              <a href="" class="nav-link">сервис</a>
            </li>
            <li class="d-flex align-items-center">
              <a href="" class="nav-link">доставка и оплата</a>
            </li>
            <li class="d-flex align-items-center">
              <a href="" class="nav-link">гарантия</a>
            </li>
            <li class="d-flex align-items-center ">
              <a href="" class="nav-link nav-promo">акции и распродажи</a>
            </li>
            <li class="d-flex align-items-center">
              <a href="" class="nav-link">контакты</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid pl-0 pr-0">
    <div class="container p-lg-0">
      <div class="row">
        <div class="col-12">
          <div class="header-bottom-area d-flex justify-content-between">
            <a href="">
              <img src="img/logo.svg" alt="">
            </a>
            <form class="form-group custom-form-group ">
<!--              <label >:</label>-->
              <div class="dropdown-list">
                <input data-name="drop" data-autocomplete="" autocomplete="no"
                       type="text" name="model" class="form-control" placeholder="Поиск" value="">
                <button class="btn input-icon">
                  <i class=" fa fa-search"></i>
                </button>
                <ul class="dropdown-menu w-100 ">
                  <li class="dropdown-item">ES3246</li>
                </ul>
              </div>
              <div>error</div>
            </form>
            <div class="header-bottom-cart-area d-flex flex-nowrap">
              <div class="cart-img">
                <img src="img/cart.svg" alt="">
              </div>
              <div class="cart-info">
                <span>
                  <b>2</b>
                  <p>товара</p>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

