<% var data = {
title: "Протектор 57"
}; %>
<%= _.template(require('./../includes/default/head-start.html').default)(data) %>

<p style="font-family: 'OpenSans-Bold' ">OpenSans-Bold</p>
<p style="font-family: 'OpenSans'">OpenSans</p>
<p style="font-family: 'PTSans-Bold' ">PTSans-Bold</p>
<p style="font-family: 'PTSans-Regular' ">PTSans-Regular</p>


<%= _.template(require('./../includes/default/head-end.html').default)(data) %>

